package ${package}.${moduleName}.model.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableLogic;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonIgnore;
import com.fasterxml.jackson.annotation.JsonProperty;

    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
import java.io.Serializable;
import java.time.LocalDateTime;
import com.mc4cloud.mc.common.core.entity.BaseEntity;

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * ${comments}
 *
 * @author ${author} <br>
 * @create ${datetime} <br>
 * @project ${moduleName} <br>
 */
@Data
@TableName("${tableName}")
@EqualsAndHashCode(callSuper = true)
public class ${className}Entity extends BaseEntity<${className}Entity> {
    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)
        /**
        * $column.comments
        */
        #if($column.columnName == $pk.columnName)
        @TableId
        #elseif ($column.columnName =="is_deleted")
        @TableLogic
        #end

    private $column.attrType $column.attrname;

    #end
}
