package ${package}.${moduleName}.repository;

import ${package}.${moduleName}.model.entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author} <br>
 * @create ${datetime} <br>
 * @project ${moduleName} <br>
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
}
